{% extends 'main.html' %} {% load static %} {% block meta %}
<link rel="stylesheet" href="{% static 'css/site_detail.css' %}" />
<title>Detail Site</title>
{% endblock meta %} {% block content %}
<div class="container">
  <div class="d-flex flex-row">
    <div class="col">
      <div
        class="siteimage"
        style="background-image: url('{{site.4}}'); background-size:cover; background-repeat:no-repeat;"
      ></div>
    </div>
    <div class="col">
      <site><strong>{{site.2}}</strong></site>
      <p>{{site.3}}</p>
      
    </div>
  </div>
</div>
<rvw><strong>Review</strong></rvw>
<div class="review align-items-center justify-content-center">
  {% for item in reviews %}
  <div class="reviewbox align-self-center">
    <div class="rating">Rating: {{item.3}}/5</div>
    <div class="row">
      <div class="col">
        <img src="{% static 'images/Reviewer.png' %}" />
      </div>
      <div class="col-10 px-25">
        <div style="color: #5c55e1">Posted by</div>
        <username>{{item.2}}</username>
        <p>{{item.4}}</p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock content %}
