{% extends 'base_admin.html' %}
{% load static %}

{% block meta %}
<title>Add Site</title>
<style>
    .button {
        background-color: #aad969;
        border: 1px solid black;
        color: white;
        font-size: 25px;
    }

    .container-utama {
        text-align: center;
        margin-bottom: 30px;
        margin-top: 20px;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .container {
        font-size: 20px;
    }

    textarea {
        text-align: center;
    }

    input {
        text-align: center;
    }

    input#name {
        width: 15rem;
    }

    input#pic {
        width: 25rem;
    }

    .gtext {
        color: #aad969;
    }

    .cont-sub {
        padding-bottom: 10px;
    }

    .cont-but {
        padding-top: 10px;
    }
</style>
{% endblock meta %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/add_item.css' %}" />
<div class="container-utama">
    <div class="container">
        <h1><strong>Add <div class="gtext">Site</strong></div>
        </h1>
    </div>
    <!-- <div class="container"> <button onclick="history.back()"> Kembali </button> </div> -->
    <div class="container">
        <form method="post">
            {% csrf_token %}

            <div class="container">
                <label for="dest_area">Destination Area</label>
                <div class="cont-sub">{{ form.dest_area }}</div>
            </div>

            <div class="container">
                <label for="name">Name</label>
                <div class="cont-sub">{{ form.name }}</div>
            </div>

            <div class="container">
                <label for="desc">Description</label>
                <div class="cont-sub">{{ form.desc }}</div>
            </div>

            <div class="container">
                <label for="pic">Picture</label>
                <div class="cont-sub">{{ form.pic }}</div>
            </div>

            <div class="cont-but">
                <button class="button" onclick="submit"> Simpan Site </button>
            </div>

        </form>
    </div>
</div>
{% endblock content %}