{% extends 'main.html' %}
{% load static %}
{% block meta %}
  <link rel="stylesheet" href="{% static 'css/accommodation_list.css' %}" />
  <title>Daftar Accommodation</title>
{% endblock meta %}
{% block content %}
<div id="mainCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#mainCarousel"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#mainCarousel"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#mainCarousel"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'images/destination.jpg' %}" class="d-block w-100" />
      <div class="carousel-caption d-none d-md-block">
        <p><strong><green>Looking for</green> a destination for your next adventure?</strong></p>
        <subcaption>pack your luggages because we have the best places for you to visit</subcaption>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/site.jpg' %}" class="d-block w-100" />
      <div class="carousel-caption d-none d-md-block">
        <p><strong><green>Looking for</green> interesting sites to visit?</strong></p>
        <subcaption>no worries, we got you covered</subcaption>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/accomodation.jpg' %}" class="d-block w-100" />
      <div class="carousel-caption d-none d-md-block">
        <p><strong><green>Looking for</green> a place to stay?</strong></p>
        <subcaption>from inns to five-star hotels, we have everything you need</subcaption>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#mainCarousel"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#mainCarousel"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
</div>

<div class="container align-items-center">
  <div class="row">
    {% for item in accommodation_list %}
    <div class="col align-items-center"><a href="{{item.0}}"><div class="accommodation d-flex text-break align-items-center justify-content-center" style="background-image: url('{{item.4}}'); background-size:cover; background-repeat:no-repeat;"><strong>{{item.2}}</strong></div></a></div>
    {% endfor %}
  </div>
</div>
{% endblock content %}
