@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

body {
    background-image: url("../img/bg.jpeg");
    background-size: cover;
    font-family: "Poppins", var(--bs-font-sans-serif);
}
body div.card {
    background-color:rgba(255, 255, 255, 0.2)
}
form .form-control, form .form-control:focus {
    background-color:rgba(255, 255, 255, 0.5)
}