<!DOCTYPE html>
<html>
<body>

<h1>JalanKuy - Home</h1>
<p>Ini adalah halaman utama untuk aplikasi JalanKuy</p>

<div class="container"> <button onclick="location.href = '/auth';"> Login
    </button> </div>
<div class="container"> <button onclick="location.href = '/auth/register';"> Register
    </button> </div>
<div class="container"> <button onclick="location.href = '/admin_home';"> Halaman Admin
    </button> </div>
<div class="container"> <button onclick="location.href = '/admin_home/view/destination-area';"> Destination Area
    </button> </div>
<div class="container"> <button onclick="location.href = '/admin_home/view/site';"> Site
    </button> </div>
<div class="container"> <button onclick="location.href = '/admin_home/view/accommodation';"> Accommodation
    </button> </div>
<div class="container"> <button onclick="location.href = '/admin_home/add-destination-area';"> Add Destination Area
    </button> </div>
<div class="container"> <button onclick="location.href = '/admin_home/add-site';"> Add Site
    </button> </div>
<div class="container"> <button onclick="location.href = '/admin_home/add-accommodation';"> Add Accommodation
    </button> </div>

</body>
</html>